.name-banner {
    -webkit-transition: color 0.5s;
    -moz-transition:    color 0.5s;
    -ms-transition:     color 0.5s;
    -o-transition:      color 0.5s;
    transition:         color 0.5s;
}

.name-banner:hover {
    color: #cc005f;
}

.hide {
    display: none;
}

.m-t-3rem {
    margin-top: 3rem;
}